<div class='container features'>
	<h2><%= I18n.t("concerts.list") %></h2>

	<table class='table table-dark'>
		<tr class='table_header'>
			<th><%= I18n.t("concert.band") %></th>
			<th><%= I18n.t("concert.date") %></th>
		</tr>

		<% @concerts.each do |concert| %>
		<tr>
			<td><%= link_to concert.band, concert_path(concert) %></td>
			<td><%= concert.date %></td>
			
		  <% if current_user.try(:admin?) %>
			<td><%= link_to 'Edit', edit_concert_path(concert) %></td>
			<td><%= link_to 'Destroy', concert_path(concert), 
				method: :delete, 
				data: { confirm: 'Are you sure?' } %></td>
		  <% end %>

		</tr>
		<% end %>
	</table>

	<p>
		<% if @concerts.size == 0 %>
		<em>No concerts found</em>
		<% end %>
	</p>
</div>