	<%= render 'form_user' %>

<h2><%= I18n.t("concerts.list") %></h2>

<%= link_to I18n.t("concerts.new"), new_concert_path %>

<table>
	<tr>
		<th><%= I18n.t("concert.band") %></th>
		<th><%= I18n.t("concert.date") %></th>
	</tr>

	<% @concerts = Concert.all %>
	<% @concerts.each do |concert| %>
	<tr>
		<td><%= link_to concert.band, concert_path(concert) %></td>
		<td><%= concert.date %></td>
	</tr>
	<% end %>
</table>

<p>
	<% if @concerts.size == 0 %>
	<em>No concerts found</em>
	<% end %>
</p>
