<%= render 'form_user' %>

<h1><%=t :list %></h1>

<%= link_to (t :new), new_concert_path %>

<table>
	<tr>
		<th><%=t :band %></th>
		<th><%=t :date %></th>
	</tr>

	<% @concerts = Concert.all %>
	<% @concerts.each do |concert| %>
	<tr>
		<td><%= link_to concert.band, concert_path(concert) %></td>
		<td><%= concert.date %></td>
	</tr>
	<% end %>
</table>

<p>
	<% if @concerts.size == 0 %>
	<em>No concerts found</em>
	<% end %>
</p>
