<div class='features container'>
	<h3><%= I18n.t("concerts.details") %></h3>
	<% @concert = Concert.find(params[:id]) %>
	<% if current_user.try(:admin?) %>
		<p><%= link_to I18n.t("concerts.edit"), edit_concert_path(@concert) %>
			<%= link_to I18n.t("concerts.destroy"), concert_path(@concert), 
								method: :delete, 
								data: { confirm: I18n.t("concerts.confirm") } %></p>
	<% end %>
	
	<% if current_user.concerts.where(id: @concert.id).exists? %>
		<p><%= link_to I18n.t("concert.resign"), concert_resign_path(@concert), 
								method: :delete, 
								data: { confirm: I18n.t("concerts.confirm") } %></p>  
	<% else %>
		<p><%= link_to I18n.t("concert.join"), concert_join_path(@concert), method: :post %></p>
	<% end %>
	<p><%= link_to I18n.t("concert.users"), concert_users_path(@concert) %></p>

	<h2> <%= @concert.band 	%> </h2>
	<h3> <%= @concert.date %> </h3>
	<p> <%= @concert.place %></p>
	<p> <%= @concert.ticket_price %> <%= @concert.currency %></p>
	<p> <%= @concert.buy_ticket %></p>
	<p> <%= @concert.more_info %></p>
</div>