<h1>Concert details</h1>
<% @concert = Concert.find(params[:id]) %>
<p><%= link_to 'Edit', edit_concert_path(@concert) %> | <%= link_to 'Destroy', concert_path(@concert), 
				method: :delete, 
				data: { confirm: 'Are you sure?' } %></p>

<h1> <%= @concert.band %> </h1>
<h2> <%= @concert.date %></h2>
<p> <%= @concert.place %></p>
<p> <%= @concert.ticket_price %></p>
<p> <%= @concert.buy_ticket %></p>
<p> <%= @concert.more_info %></p>

<%= link_to 'Concert list', concerts_path %>
<%= link_to 'New concert', new_concert_path %>